html{font-family:'Helvetica',sans-serif}
body{
  hyphens: manuel;
  background-color: #ffffff;
}
h1,h2,h3,h4,h5,h6{font-family:'Helvetica',sans-serif;font-weight:200;display:block}
table{
  table-layout: fixed;
  border: 3px solid #e7e7e7;
  margin:auto;
  width:100%;
}
tr:hover td {background: #a9bcf5 !important}
table tr.even,table tr.alt,table tr:nth-of-type(even){background:#f8f8f7}
th.halign-left,td.halign-left {text-align: left}
th.halign-right,td.halign-right {text-align: right}
th.halign-center,td.halign-center {text-align: center}
th.valign-top,td.valign-top {vertical-align: top}
th.valign-bottom,td.valign-bottom {vertical-align: bottom}
th.valign-middle,td.valign-middle {vertical-align: middle}
a.link{color:#ba3925;text-decoration:none}
a.link:hover{color:#a53221}
.big{font-size:larger}
.bigger{font-size:larger;color:#a1a1a1}
.orange{font-size:large;color:#ff7f2a; background: #efef1a;padding:5px;}
.small{font-size:smaller}
.smallyellow{font-size:smaller; background:yellow}

div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 1 100%;
}
 
.flex01 {
  align-items: center;
  justify-content: center;
  flex:1;
}
.flex02 {
  align-items: center;
  justify-content: center;
  flex:1;
  flex-wrap: wrap;
  padding-left:5px;
  padding-right:5px;
  border:2px solid black;
}

.flex03 {
  align-items: center;
  justify-content: center;
  flex: 1 1;
  opacity: 0.5;
  background:#efefef;
  }

.flex03:hover{
  z-index: 1;
  transform: scale(1.2);
  opacity: 1.0;
  background:rgba(0,0,0,0.0);
}

.flex04{
  padding-top: 5px;
  justify-content: center;
}

.a,.c{
  font-size:smaller;
  flex: 1 0 200px;
  max-width:200px;
  align-items: flex-start;
  justify-content: flex-left;
  padding-left:10px;
  padding-right:10px;
  color:#ffffff;
  padding-top:0px;
  padding-bottom:0px;
  margin:1px;
  margin-top:30px;
}

.b,.d{
  flex: calc(100% - 250px);
  min-width:300px;
  align-items: flex-start;
  justify-content: flex-left;
  padding-left:10px;
  padding-right:10px;
  margin:1px;
}

.a{background:#ff7f2a;}
.b{background:#e7e7e7;}
.c{background:#000000;}
.d{background:#ffffff;border:2px solid black;}

.e{
  font-size:smaller;
  flex: 1 0 200px;
  max-width:200px;
  justify-content: flex-left;
  padding-left:10px;
  padding-right:10px;
  color:#ffffff;
  padding-top:0px;
  padding-bottom:0px;
  margin:1px;
  margin-top:1px;
  background:#ff7f2a;
}

.f{
  flex: calc(100% - 300px);
  min-width:200px;
  justify-content: flex-left;
  padding-top:0px;
  padding-bottom:0px;
  padding-left:10px;
  padding-right:10px;
  margin:1px;
  background:#e7e7e7;
}



.i{justify-content: center;}
.z{width:100%;height:10px;margin-top:20px;background:#ff3333;}

h1,h2,h3{
  flex:1 1 100%;
  text-align: center;
  justify-content: center;
  background: #f3f3f3;
  padding: 10px;
  margin: 10px;
  flex-wrap: wrap;
}

@media screen and (max-width:449px){
  .l1t{width:80px;z-index:3; position:fixed;margin-top:0px;top:5px; right:5px; opacity: 0.7;}
  .l1b{width:80px;z-index:3; position:fixed; bottom:5px; left:5px; opacity: 0.7}
  .l2b{width:80px;z-index:3; position:fixed; bottom:5px; left:90px; opacity: 0.7}
  .l3b{width:80px;z-index:3; position:fixed; bottom:5px; left:175px;opacity: 0.7}
  .l4b{width:80px;z-index:3; position:fixed; bottom:5px; left:260px; opacity: 0.7}
  .flex03{transform:scale(0.56);width:84px;height:84px;}
  .flex03:hover{z-index: 1;transform: scale(0.7);}
}

@media screen and (min-width:450px){
.l1t{width:100px;z-index:3; position:fixed;margin-top:0px;top:5px; right:5px; opacity: 0.7;}
.l1b{width:100px;z-index:3; position:fixed; bottom:5px; left:5px; opacity: 0.7}
.l2b{width:100px;z-index:3; position:fixed; bottom:5px; left:110px; opacity: 0.7}
.l3b{width:100px;z-index:3; position:fixed; bottom:5px; left:215px;opacity: 0.7}
.l4b{width:100px;z-index:3; position:fixed; bottom:5px; left:320px; opacity: 0.7}

}

@media screen and (min-width:600px){
  .l1t{width:150px;z-index:3; position:fixed;margin-top:0px;top:5px; right:5px; opacity: 0.7;}
  .l1b{width:150px;z-index:3; position:fixed; bottom:5px; left:5px; opacity: 0.8}
  .l2b{width:150px;z-index:3; position:fixed; bottom:5px; left:160px; opacity: 0.8}
  .l3b{width:150px;z-index:3; position:fixed; bottom:5px; left:315px;opacity: 0.8}
  .l4b{width:150px;z-index:3; position:fixed; bottom:5px; left:470px; opacity: 0.8}
  .flex02{border:none;}
}

@media screen and (min-width:1000px){
  .bottomrightmark{ position:fixed; bottom:15px; right: 15px; color: #ffffff;
                    background: #A1A1A1;padding:5px;
                    text-align:center; font-size:smaller;}
}

@media screen and (min-width:800px){
  .flex01{margin-right:10%;}
  .flex02{margin-left:10%;background:#ff7f2a;}
}

.top-arrow{z-index:4; position:fixed; top:0%; left:0%;opacity: 0.9;color: #000000;width:100%;text-align:center;}
.right-arrow{z-index:4; position:fixed; top:45%; right:0%; opacity: 0.9;color: #000000;text-align:center}
.bottom-arrow{z-index:4; position:fixed; bottom:0%; left:0%;opacity: 0.9;color: #000000;width:100%;text-align:center;}
.left-arrow{z-index:4; position:fixed; top:45%; left:0%; opacity: 0.9;color: #000000;text-align:center}
