html {font-family:"DejaVu Sans","Open Sans",sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%} 
body {padding:10;margin:10} 
a:link {color:#DAA520; text-decoration: underline;} 
a:visited {color:#E7E7E7; text-decoration: underline #DAA520;} 
img {display:block;} 
h1,h2,h3,h4 {text-decoration: none; position: relative; padding:20; margin:20;font-weight:400;font-style:normal;color:#527bbd;margin-top:1em;margin-bottom:.5em;line-height:1.0125em} 
h1{font-size:2.6em} 
h2{font-size:2.2em;text-align:center} 
h3{font-size:1.6em;text-align:center} 
h4,h5,h6 {font-size:1.0em; margin-left:20%;} 
table,th,td {border-collapse:collapse;border-spacing:0;margin:0;padding:0;}
*.tableblock:last-child {margin-top:0em;margin-bottom:0em;padding:0;border-spacing:0}
.center {margin:auto;} 
.line {clear:both;margin-left:15px;margin-right:15px;margin-top:25px;margin-bottom:25px;text-align: center; background-color:#527bbd; height:8px;font-size:6px; color:#ffffff; transition: transform 2s;} 
.keyh1 {display:block; position: sticky; top: 40px; left:15px; margin-left:15px; margin-right:330px;text-align: center; color:#527bbd; height:20px;font-size:2.0em; } 
.keyh2 {display:block; position: sticky; top: 100px; left:15px; margin-left:15px; margin-right:330px;text-align: center; color:#527bbd; height:20px;font-size:1.40em; } 
.keyh3 {position: fixed; top: 120px; left:30px; width:200px; text-align: left; color:#e7e7e7; font-size:122px; transform: rotate(-5deg) } 
.keyline {display:block;position: sticky; top: 180px; left:15px; margin-left:15px; margin-right:330px;text-align: center; background-color:#527bbd; height:8px;font-size:6px; color:#ffffff; transition: transform 2s;} 
.keytext01 {display:block;position: absolute;top: 120px;left: 20px;color:#e7e7e7; background-color:#527bbd;height:30px;width:300px;vertical-align: middle;padding: 10px;font-size:1.40em;transform: rotate(-10deg);opacity: 0.6;transition: transform 0.4s;} 
 
.keytext01:hover{ 
z-index: 1; 
color:#000000; 
background-color:#e1e1e1; 
font-size:1.6em;transform: scale(1.8) translate(60px); 
opacity:1.0} 
 
.keycontent01 {display:inline-block;position: absolute;top: 120px;left: 20px;color:#e7e7e7; background-color:#527bbd;height:5%;width:30%;vertical-align: middle;padding: 5%;font-size:1.20em;transform: rotate(-10deg);opacity: 0.6;transition: transform 0.4s;} 
 
.keycontent01:hover{ 
z-index: 1; 
color:#000000; 
background-color:#e9e9e9; 
padding-bottom: 6%;font-size:1.4em;transform: scale(1.2) translate(10%); 
opacity:0.8} 
 
.keytext02 {display:block;position: absolute;top: 180px;left: 220px;color:#e7e7e7; background-color:#527bbd;height:30px;width:300px;vertical-align: middle;padding: 10px;font-size:1.40em;transform: rotate(5deg);opacity: 0.6;transition: transform 0.4s;} 
 
.keytext02:hover{ 
z-index: 1; 
color:#000000; 
background-color:#e1e1e1; 
font-size:1.6em;transform: scale(1.8) translate(60px); 
opacity:1.0} 
 
.keycontent02 {display:inline-block;position: absolute;top: 180px;left: 220px;color:#e7e7e7; background-color:#527bbd;height:5%;width:30%;vertical-align: middle;padding: 5%;font-size:1.20em;transform: rotate(5deg);opacity: 0.6;transition: transform 0.4s;} 
 
.keycontent02:hover{ 
z-index: 1; 
color:#000000; 
background-color:#e9e9e9; 
padding-bottom: 6%;font-size:1.4em;transform: scale(1.2) translate(10%); 
opacity:0.8} 
 
.keytext03 {display:block;position: absolute;top: 590px;left: 460px;color:#e7e7e7; background-color:#527bbd;height:30px;width:300px;vertical-align: middle;padding: 10px;font-size:1.40em;transform: rotate(-14deg);opacity: 0.6;transition: transform 0.4s;} 
 
.keytext03:hover{ 
z-index: 1; 
color:#000000; 
background-color:#e1e1e1; 
font-size:1.6em;transform: scale(1.8) translate(60px); 
opacity:1.0} 
 
.keycontent03 {display:inline-block;position: absolute;top: 590px;left: 460px;color:#e7e7e7; background-color:#527bbd;height:5%;width:30%;vertical-align: middle;padding: 5%;font-size:1.20em;transform: rotate(-14deg);opacity: 0.6;transition: transform 0.4s;} 
 
.keycontent03:hover{ 
z-index: 1; 
color:#000000; 
background-color:#e9e9e9; 
padding-bottom: 6%;font-size:1.4em;transform: scale(1.2) translate(10%); 
opacity:0.8} 
 
.keytext04 {display:block;position: absolute;top: 220px;left: 420px;color:#e7e7e7; background-color:#527bbd;height:30px;width:300px;vertical-align: middle;padding: 10px;font-size:1.40em;transform: rotate(-5deg);opacity: 0.6;transition: transform 0.4s;} 
 
.keytext04:hover{ 
z-index: 1; 
color:#000000; 
background-color:#e1e1e1; 
font-size:1.6em;transform: scale(1.8) translate(60px); 
opacity:1.0} 
 
.keycontent04 {display:inline-block;position: absolute;top: 220px;left: 420px;color:#e7e7e7; background-color:#527bbd;height:5%;width:30%;vertical-align: middle;padding: 5%;font-size:1.20em;transform: rotate(-5deg);opacity: 0.6;transition: transform 0.4s;} 
 
.keycontent04:hover{ 
z-index: 1; 
color:#000000; 
background-color:#e9e9e9; 
padding-bottom: 6%;font-size:1.4em;transform: scale(1.2) translate(10%); 
opacity:0.8} 
 
.keytext05 {display:block;position: absolute;top: 150px;left: 620px;color:#e7e7e7; background-color:#527bbd;height:30px;width:300px;vertical-align: middle;padding: 10px;font-size:1.40em;transform: rotate(3deg);opacity: 0.6;transition: transform 0.4s;} 
 
.keytext05:hover{ 
z-index: 1; 
color:#000000; 
background-color:#e1e1e1; 
font-size:1.6em;transform: scale(1.8) translate(60px); 
opacity:1.0} 
 
.keycontent05 {display:inline-block;position: absolute;top: 150px;left: 620px;color:#e7e7e7; background-color:#527bbd;height:5%;width:30%;vertical-align: middle;padding: 5%;font-size:1.20em;transform: rotate(3deg);opacity: 0.6;transition: transform 0.4s;} 
 
.keycontent05:hover{ 
z-index: 1; 
color:#000000; 
background-color:#e9e9e9; 
padding-bottom: 6%;font-size:1.4em;transform: scale(1.2) translate(10%); 
opacity:0.8} 
 
.keytext06 {display:block;position: absolute;top: 250px;left: 5px;color:#e7e7e7; background-color:#527bbd;height:30px;width:300px;vertical-align: middle;padding: 10px;font-size:1.40em;transform: rotate(6deg);opacity: 0.6;transition: transform 0.4s;} 
 
.keytext06:hover{ 
z-index: 1; 
color:#000000; 
background-color:#e1e1e1; 
font-size:1.6em;transform: scale(1.8) translate(60px); 
opacity:1.0} 
 
.keycontent06 {display:inline-block;position: absolute;top: 250px;left: 5px;color:#e7e7e7; background-color:#527bbd;height:5%;width:30%;vertical-align: middle;padding: 5%;font-size:1.20em;transform: rotate(6deg);opacity: 0.6;transition: transform 0.4s;} 
 
.keycontent06:hover{ 
z-index: 1; 
color:#000000; 
background-color:#e9e9e9; 
padding-bottom: 6%;font-size:1.4em;transform: scale(1.2) translate(10%); 
opacity:0.8} 
 
.keytext07 {display:block;position: absolute;top: 310px;left: 110px;color:#e7e7e7; background-color:#527bbd;height:30px;width:300px;vertical-align: middle;padding: 10px;font-size:1.40em;transform: rotate(-3deg);opacity: 0.6;transition: transform 0.4s;} 
 
.keytext07:hover{ 
z-index: 1; 
color:#000000; 
background-color:#e1e1e1; 
font-size:1.6em;transform: scale(1.8) translate(60px); 
opacity:1.0} 
 
.keycontent07 {display:inline-block;position: absolute;top: 310px;left: 110px;color:#e7e7e7; background-color:#527bbd;height:5%;width:30%;vertical-align: middle;padding: 5%;font-size:1.20em;transform: rotate(-3deg);opacity: 0.6;transition: transform 0.4s;} 
 
.keycontent07:hover{ 
z-index: 1; 
color:#000000; 
background-color:#e9e9e9; 
padding-bottom: 6%;font-size:1.4em;transform: scale(1.2) translate(10%); 
opacity:0.8} 
 
.keytext08 {display:block;position: absolute;top: 295px;left: 410px;color:#e7e7e7; background-color:#527bbd;height:30px;width:300px;vertical-align: middle;padding: 10px;font-size:1.40em;transform: rotate(7deg);opacity: 0.6;transition: transform 0.4s;} 
 
.keytext08:hover{ 
z-index: 1; 
color:#000000; 
background-color:#e1e1e1; 
font-size:1.6em;transform: scale(1.8) translate(60px); 
opacity:1.0} 
 
.keycontent08 {display:inline-block;position: absolute;top: 295px;left: 410px;color:#e7e7e7; background-color:#527bbd;height:5%;width:30%;vertical-align: middle;padding: 5%;font-size:1.20em;transform: rotate(7deg);opacity: 0.6;transition: transform 0.4s;} 
 
.keycontent08:hover{ 
z-index: 1; 
color:#000000; 
background-color:#e9e9e9; 
padding-bottom: 6%;font-size:1.4em;transform: scale(1.2) translate(10%); 
opacity:0.8} 
 
.keytext09 {display:block;position: absolute;top: 240px;left: 650px;color:#e7e7e7; background-color:#527bbd;height:30px;width:300px;vertical-align: middle;padding: 10px;font-size:1.40em;transform: rotate(-18deg);opacity: 0.6;transition: transform 0.4s;} 
 
.keytext09:hover{ 
z-index: 1; 
color:#000000; 
background-color:#e1e1e1; 
font-size:1.6em;transform: scale(1.8) translate(60px); 
opacity:1.0} 
 
.keycontent09 {display:inline-block;position: absolute;top: 240px;left: 650px;color:#e7e7e7; background-color:#527bbd;height:5%;width:30%;vertical-align: middle;padding: 5%;font-size:1.20em;transform: rotate(-18deg);opacity: 0.6;transition: transform 0.4s;} 
 
.keycontent09:hover{ 
z-index: 1; 
color:#000000; 
background-color:#e9e9e9; 
padding-bottom: 6%;font-size:1.4em;transform: scale(1.2) translate(10%); 
opacity:0.8} 
 
.keytext10 {display:block;position: absolute;top: 395px;left: 60px;color:#e7e7e7; background-color:#527bbd;height:30px;width:300px;vertical-align: middle;padding: 10px;font-size:1.40em;transform: rotate(-20deg);opacity: 0.6;transition: transform 0.4s;} 
 
.keytext10:hover{ 
z-index: 1; 
color:#000000; 
background-color:#e1e1e1; 
font-size:1.6em;transform: scale(1.8) translate(60px); 
opacity:1.0} 
 
.keycontent10 {display:inline-block;position: absolute;top: 395px;left: 60px;color:#e7e7e7; background-color:#527bbd;height:5%;width:30%;vertical-align: middle;padding: 5%;font-size:1.20em;transform: rotate(-20deg);opacity: 0.6;transition: transform 0.4s;} 
 
.keycontent10:hover{ 
z-index: 1; 
color:#000000; 
background-color:#e9e9e9; 
padding-bottom: 6%;font-size:1.4em;transform: scale(1.2) translate(10%); 
opacity:0.8} 
 
.keytext11 {display:block;position: absolute;top: 380px;left: 265px;color:#e7e7e7; background-color:#527bbd;height:30px;width:300px;vertical-align: middle;padding: 10px;font-size:1.40em;transform: rotate(9deg);opacity: 0.6;transition: transform 0.4s;} 
 
.keytext11:hover{ 
z-index: 1; 
color:#000000; 
background-color:#e1e1e1; 
font-size:1.6em;transform: scale(1.8) translate(60px); 
opacity:1.0} 
 
.keycontent11 {display:inline-block;position: absolute;top: 380px;left: 265px;color:#e7e7e7; background-color:#527bbd;height:5%;width:30%;vertical-align: middle;padding: 5%;font-size:1.20em;transform: rotate(9deg);opacity: 0.6;transition: transform 0.4s;} 
 
.keycontent11:hover{ 
z-index: 1; 
color:#000000; 
background-color:#e9e9e9; 
padding-bottom: 6%;font-size:1.4em;transform: scale(1.2) translate(10%); 
opacity:0.8} 
 
.keytext12 {display:block;position: absolute;top: 420px;left: 510px;color:#e7e7e7; background-color:#527bbd;height:30px;width:300px;vertical-align: middle;padding: 10px;font-size:1.40em;transform: rotate(-4deg);opacity: 0.6;transition: transform 0.4s;} 
 
.keytext12:hover{ 
z-index: 1; 
color:#000000; 
background-color:#e1e1e1; 
font-size:1.6em;transform: scale(1.8) translate(60px); 
opacity:1.0} 
 
.keycontent12 {display:inline-block;position: absolute;top: 420px;left: 510px;color:#e7e7e7; background-color:#527bbd;height:5%;width:30%;vertical-align: middle;padding: 5%;font-size:1.20em;transform: rotate(-4deg);opacity: 0.6;transition: transform 0.4s;} 
 
.keycontent12:hover{ 
z-index: 1; 
color:#000000; 
background-color:#e9e9e9; 
padding-bottom: 6%;font-size:1.4em;transform: scale(1.2) translate(10%); 
opacity:0.8} 
 
.keytext13 {display:block;position: absolute;top: 485px;left: 610px;color:#e7e7e7; background-color:#527bbd;height:30px;width:300px;vertical-align: middle;padding: 10px;font-size:1.40em;transform: rotate(6deg);opacity: 0.6;transition: transform 0.4s;} 
 
.keytext13:hover{ 
z-index: 1; 
color:#000000; 
background-color:#e1e1e1; 
font-size:1.6em;transform: scale(1.8) translate(60px); 
opacity:1.0} 
 
.keycontent13 {display:inline-block;position: absolute;top: 485px;left: 610px;color:#e7e7e7; background-color:#527bbd;height:5%;width:30%;vertical-align: middle;padding: 5%;font-size:1.20em;transform: rotate(6deg);opacity: 0.6;transition: transform 0.4s;} 
 
.keycontent13:hover{ 
z-index: 1; 
color:#000000; 
background-color:#e9e9e9; 
padding-bottom: 6%;font-size:1.4em;transform: scale(1.2) translate(10%); 
opacity:0.8} 
 
.keytext14 {display:block;position: absolute;top: 540px;left: 120px;color:#e7e7e7; background-color:#527bbd;height:30px;width:300px;vertical-align: middle;padding: 10px;font-size:1.40em;transform: rotate(18deg);opacity: 0.6;transition: transform 0.4s;} 
 
.keytext14:hover{ 
z-index: 1; 
color:#000000; 
background-color:#e1e1e1; 
font-size:1.6em;transform: scale(1.8) translate(60px); 
opacity:1.0} 
 
.keycontent14 {display:inline-block;position: absolute;top: 540px;left: 120px;color:#e7e7e7; background-color:#527bbd;height:5%;width:30%;vertical-align: middle;padding: 5%;font-size:1.20em;transform: rotate(18deg);opacity: 0.6;transition: transform 0.4s;} 
 
.keycontent14:hover{ 
z-index: 1; 
color:#000000; 
background-color:#e9e9e9; 
padding-bottom: 6%;font-size:1.4em;transform: scale(1.2) translate(10%); 
opacity:0.8} 
 
.line:hover {z-index:2;transform: scale(2);} 
.keyline:hover {z-index:2;transform: scale(3) translate(50px);} 
.floatleft {margin-left:20%;float: left; background-color:#e1e1e1; transition: transform .3s;} 
.floatright {margin-right:20%;float: right;background-color:#e7e7e7; transition: transform .3s;} 
.floatleft:hover {transform: scale(1.3);} 
.floatright:hover {transform: scale(1.4);} 
.topcell {z-index:-1; position: absolute; top:5px; right:0px; margin-right:0px;width:300px;height:800px; padding:5px; clear: right; float: right; background-color:#f7f7f7; color:#527bbd; font-size:1em} 
.keycell {z-index:1; position: relative; top: -50px; margin-right:-48px; margin-top:-15px; clear: both; float: right;background-color:#ffffff; transform: scale(0.6); transition: transform .3s;} 
.keycell:hover {z-index: 2; background-color:#e7e7e7; transform: translate(-40px, -10px) scale(0.9) rotate(0.7deg);opacity: 0.9;} 
.bottomleft {position: fixed; left: 20%; bottom: -20px; background-color:#C7C7C7; width:20%;height:40px;opacity: 0.5; text-align:center; transition: transform 0.2s;} 
.bottomcenter {position: fixed; left:40%; bottom: -20px; background-color:#C7C7C7; width:20%;height:40px;opacity: 0.5; text-align:center; transition: transform 0.2s;} 
.bottomright {position: fixed;  left:60%; bottom: -20px; background-color:#C7C7C7; width:20%;height:40px;opacity: 0.5; text-align:center; transition: transform 0.2s;} 
.bottomleft:hover,.bottomcenter:hover,.bottomright:hover {z-index: 1; background-color:black;opacity: 0.6; transform: translate(0px,-20px)} 
.topright {position: fixed; top: 0.8em;right: 0.1em} 
.small {font-size: 12px} 
